.car-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: fit-content;
  position: relative;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 20px 5px #e6e6e6;
  transition: box-shadow 0.4s;
}

.car-card:hover {
  box-shadow: 0 0 25px 5px #bbbbbb;
}

.card-cta {
  position: absolute;
  inset: 0;
  top: 25%;
  padding: 1em;
  display: flex;
  visibility: hidden;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  background-color: #c5c5c59d;
  backdrop-filter: blur(4px);
  height: 70%;
  transform: translate(40%, -60%) scale(0);
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease;
}

.active-cta {
  visibility: visible;
  border-radius: 0.5em;
  height: auto;
  transform: translate(0, 0) scale(1);
}

.card-cta form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-top: 1px solid #5e5d5d;
  padding-top: 0.5em;
}

.card-cta form label {
  font-size: 0.9em;
}

.card-cta form div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}

.card-cta form div input {
  padding: 0.2em;
}

.card-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #bbbbbb;
}

.img-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.car-icon {
  width: 10%;
}

.car-name {
  margin: 0;
  font-size: 1.1em;
}

.settings-btn {
  background: none;
  border: none;
  outline: none;
  transition: transform 0.3s;
}

.settings-btn:hover {
  transform: rotate(45deg);
}

.settings-btn img {
  display: block;
  height: 20px;
}

.btn {
  padding: 0.5em 0.7em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.reset-distance-btn {
  border: 1px solid transparent;
  background-color: #ffffff;
  box-shadow: #bb2c2c33 0 -25px 18px -14px inset, 0 3px 5px 0 rgba(0, 0, 0, 0.3),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: #000000;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.reset-distance-btn:hover {
  box-shadow: #bb2c2c33 0 -25px 18px -14px inset, 0 5px 7px 0 rgba(0, 0, 0, 0.3),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.reset-distance-btn:active {
  transform: translateY(2px);
  box-shadow: #bb2c2c33 0 -25px 18px -14px inset,
    0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

.history-btn {
  background-color: #fff;
  color: #000000;
  border: 1px solid transparent;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
.history-btn:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.history-btn:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

.change-threshold-btn {
  color: #fff;
  background-color: #ff6d29;
  border: 1px solid transparent;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.2s;
}

.change-threshold-btn:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

.car-distance-details {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.distance-detail {
  display: flex;
  justify-content: space-between;
}
