@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
@import url("./reset.css");
@import url("./card.css");
@import url("./table.css");

:root {
  font-family: "Noto Sans Georgian", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100lvh;
}

#app {
  max-width: 1280px;
  min-height: 100lvh;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffffbd;
}

#app::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  background: radial-gradient(#fca503, #fff);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -10;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.toast-notification {
  border-radius: 0.4em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -200%);
  background-color: #09e27d9a;
  color: #067541;
  z-index: 10;
  transition: transform 0.1s;
}

.toast-notification h4 {
  margin: 0.4em 0.5em;
}

.active-toast {
  transform: translate(-50%, -50%);
}

.toast-progress {
  margin-bottom: 1px;
  margin-left: 1px;
  border-radius: 0.4em;
  background-color: #067541;
  width: 100%;
  height: 5px;
  transition: width linear;
}

.loader {
  display: none;
}

.cards-header {
  display: flex;
  align-items: center;
  gap: 2em;
}

.oil-can-wrapper {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.oil-can-wrapper img {
  width: 100%;
  object-position: 0 -1em;
}

.car-card {
  background-color: #fff;
}

.cards-header h1 {
  font-size: 1.7em;
  color: #ff7711;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 1em;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
